DATABASE_URL="file:./prisma/dev.db"
# MYSQL_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE" # Provide your MySQL connection URL for production usage here

JWT_SECRET="dev-secret-key-12345"
NODE_ENV="development"
