DATABASE_URL="file:./prisma/dev.db"
# Change DATABASE_URL to your MySQL connection string when preparing for production or running `prisma:mysql:*` commands.
# Example: DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE"

JWT_SECRET="dev-secret-key-12345"
NODE_ENV="development"
